body{
    background-color: #1E1E24;
}

h1{
    background-color: #FB9F89;
    color:white;
    font-size: 36px;
    padding: 10px;
    text-shadow: 2px 2px 7px #111111;
}

p{
    background-color: #81AE9D;
    font-size: 24px;
    color:white ;
    padding: 10px;
    text-shadow: 2px 2px 7px #111111;
    line-height: 1.4em;
}
